/* Background image */
body {
	background-image: url("img/background.png");
	background-attachment: fixed;
}
.ui-page, .ui-panel-wrapper {
	background: transparent !important;
}

/* Header images */
.header-img {
	width: 100%;
}
.header-img-attach {
	margin-top: -1em;
	margin-left: -1em;
	margin-right: -1em;
	width: calc(100% + 2em);
}

/* Desktop class devices */
@media only screen and (min-width: 600px) {
	.ui-max-width {
		width: 600px !important;
		margin-left: auto !important;
		margin-right: auto !important;
		position: relative !important;
	}
}